pandas==3.0.2
pyarrow==23.0.1
requests==2.33.1
requests-cache==1.3.1
retry-requests==2.0.0
openmeteo-requests==1.7.5
python-dotenv==1.2.2
holidays==0.94
evidently==0.7.21
scikit-learn==1.8.0
xgboost==3.2.0
lightgbm==4.6.0
joblib==1.5.3
huggingface_hub==1.18.0